{% extends 'violation/base.html' %}

{% block content %}
  <div style="text-align: right;">
    <a href="{% url 'dashboard' %}">Back to Dashboard</a>
  </div>
  <h2>No Violations Found</h2>
  <p>No violations were found for the selected date range.</p>
  
{% endblock %}


{% comment %} 

<!DOCTYPE html>
<html>
<head>
    <title>No Violations Found</title>
</head>
<body>
    <h1>No Violations Found for the Selected Date Range</h1>
    <a href="{% url 'dashboard' %}">Go back to Dashboard</a>

</body>
</html>  {% endcomment %}
