{% extends 'violation/base.html' %}
{% load static %}
{% block title %}View Violations{% endblock %}

{% block content %}
    <div class="violations-container">
        <h2 class="h2">Violations per Month (Bar Graph)</h2>
        <img class="responsive-img" src="data:image/png;base64,{{ bar_graph_data }}" alt="Bar Graph">

        <h2 class="h2">Violations Trend (Line Chart)</h2>
        <img class="responsive-img" src="data:image/png;base64,{{ line_chart_data }}" alt="Line Chart">

        <h2 class="h2">Violations per Camera Number per Month (Stacked Bar Chart)</h2>
        <img class="responsive-img" src="data:image/png;base64,{{ camera_violation_chart }}" alt="Camera Violation Chart">
    </div>
{% endblock %}



{% comment %} {% extends 'violation/base.html' %}
{% load static %}
{% block title %}View Violations{% endblock %}

{% block content %}
    <div>
    <h2 class="h2">Violations per Month (Bar Graph)</h2>
    <img src="data:image/png;base64,{{ bar_graph_data }}" alt="Bar Graph">
 

    <h2 class="h2">Violations Trend (Line Chart)</h2>
    <img src="data:image/png;base64,{{ line_chart_data }}" alt="Line Chart">

    <h2 class="h2">Violations per Camera Number per Month (Stacked Bar Chart)</h2>
    <img src="data:image/png;base64,{{ camera_violation_chart }}" alt="Camera Violation Chart">
    </div>
    
{% endblock %}


 {% endcomment %}









{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Violations</title>
</head>
<body>

    <h2>Violations per Month (Bar Graph)</h2>
    <img src="data:image/png;base64,{{ bar_graph_data }}" alt="Bar Graph">

    <h2>Violations Trend (Line Chart)</h2>
    <img src="data:image/png;base64,{{ line_chart_data }}" alt="Line Chart">

    <h2>Violations per Camera Number per Month (Stacked Bar Chart)</h2>
    <img src="data:image/png;base64,{{ camera_violation_chart }}" alt="Camera Violation Chart">

</body>
</html> {% endcomment %}
